body {
    background-image: url("https://images.unsplash.com/photo-1533628635777-112b2239b1c7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)");
   
}

header {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Indie Flower', cursive;
}

.divider {
    background-color: black;
}

p {
    font-size: x-large;
}

h4 {
    text-align: center;
    padding-bottom: 10px;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Indie Flower', cursive;
}

h3 {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Indie Flower', cursive;
}

.input {
    height: 50px;
}

.row {
    margin-top: 40px;
}

/* Class to stretch the buttons with the image on index.html */
.stretch {
    width: 100%;
    margin: auto;
    justify-content: center;
}

/* Card image and text */
.card {
    display: inline-block;
    float: none;
}

.card-title {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Indie Flower', cursive;
}

.card-action {
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Indie Flower', cursive;
}

a .material-icons {
    /* made the font size small and aligned it to the middle */
    font-size: 1rem;
    padding-right: 5px;
    vertical-align: middle;
}

.cardImg {
    filter: brightness(70%);
    object-fit: cover;
}

/* Added margins to the search-bar */
#searchDrinks {
    margin: 30px;
    background: transparent;
}

.footer {
    padding-top: 20px;
    text-align: center;
}

.Title {
    font-weight: bold;
    font-size:large;
}

a {
    color: black
}